[tool.ruff]
indent-width = 4
line-length = 120

[tool.ruff.format]
docstring-code-format = true
indent-style = "space"

[tool.ruff.lint]
extend-select = [
    "I"
]
fixable = [
    "ALL"
]
unfixable = []

[tool.uv]
python-downloads = "never"
python-preference = "only-system"
resolution = "lowest-direct"

[tool.uv.sources]
multi-storage-client = { workspace = true }

[tool.uv.workspace]
members = [
    "multi-storage-client",
    "multi-storage-client-docs",
]
